html,
body {
  background: #D6D6CE;
  /* font-family: Verdana, Geneva, sans-serif; */
  font-family: Georgia, Georgia, "Times New Roman", serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


a {
  cursor: pointer;
  color: #2ea3f2;
}


/* THE HOME PAGE */

.home-page {
  display: flex;
  flex-direction: column;
}

.home-page h1 {
  margin-bottom: 0;
  margin-top: 60px;
  text-align: center;
}

.home-page h2 {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

.top-menu {
  background: #800000;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 20px;
}

.divider {
  width: 100%;
  background: #800000;
  height: 3rem;
  margin-bottom: 20px;
}

.link-container {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 40px;
  text-align: right;
}


.top-menu a, .top-menu a:visited, .top-menu {
  color: white;
}

.top-menu a {
  margin-bottom: 5px;
}

.root-links-container {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.root-links {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 50px;
  max-width: 600px;
  flex-wrap: wrap;
}

.root-links a {
  margin-right: 10px;
}

.root-content-container {
  font-family: Georgia, Georgia, "Times New Roman", serif;
  padding: 0px 30px;
  width: 100%;
}

.root-content-container>div {
  max-width: 800px;

}

.text {
  margin-bottom: 10px;
}

.text-row a {
  margin-right: 10px;
}

.text-row img {
  max-width: 100px;
}


table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

.left-flower {

  left: 10px;
}

.right-flower {
  right: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.left-flower, .right-flower {
  position: absolute;
  /* height: 100%; */
}

/* THE VISUALIZATIONS */

.vis-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
  padding: 10px 90px;
  width: calc(100% - 80px);
  overflow: scroll;
}

.app-container.vis-page .title-container img {
  display: none;
}

.app-container.vis-page .root-content-container {
  /* align-items: unset; */
  /* justify-content: unsafe; */
  padding: 0;
}

.vis-page .root-content-container>div {
  max-width: unset;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: auto;
}

.center {
  align-items: center;
  justify-content: center;
}

.margin-top {
  margin-top: 30px;
}


.bar-chart-x-axis .rv-xy-plot__axis__tick__text {
  font-size: 9px;
  transform: rotate(-90deg) translate(-20px, 0);
}

.waffle-book .rv-xy-plot__series--polygon {
  cursor: pointer;
}

.hover-box {
  pointer-events: none;
}


.static-waffle {
  position: absolute;
}

.dynamic-waffle {
  pointer-events: none;
}

.rv-sunburst {
  font-size: 8px;
}


.small-font {
  font-size: 8px;
}

.medium-font {
  font-size: 12px;
}

.rv-xy-plot__axis__tick__line {
  display: none;
}

.rv-xy-plot__axis__tick__text {
  transform: translate(-1px);
}

.file {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  padding: 0 10px;
  margin-right: 20px;
}

.descriptions p {
  font-size: 10px;
}


.tooltip {
  background: black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 10px;
  max-width: 200px;
  padding: 5px;
  position: absolute;
  z-index: 2;
}

.tooltip .color-block {
  height: 10px;
  width: 10px;
}

.legend {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 200px;
}

.legend h3 {
  font-size: 18px;
}

.legend input {
  font-size: 20px;
}

.legend-color {
  border-radius: 100%;
  height: 15px;
  margin-right: 3px;
  width: 15px;
}


.node-graph {
  z-index: 1;
  position: absolute;
}

.link-graph {
  z-index: 0;
  opacity: 1;
  transition: opacity 1s;
}

.link-graph.mute {
  opacity: 0.1;
}

.link-graph.hide {
  opacity: 0;
}

.displayNode {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

.displayNode.opaqueDisplayNode {
  opacity: 0.1;
}

.switch-center {
  display: flex;
  align-items: center;
}

.rv-treemap__leaf {
  border: white;
}

.disabled-switch {
  cursor: not-allowed;
}

.disable-switch-label {
  color: red;
  opacity: 0.7;
}

.no-offscreen-message {
  white-space: normal;
  max-width: 300px;
}

.control-switch {
  font-size: 12px;
}

.text-title {
  height: 50px;
  margin: 0;
  padding: 0;
}

.text-description {
  height: 140px;
  margin: 0;
  padding: 0;
}


.text-control-button {
  background: white;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 5px;
}

.modal-escape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
  opacity: 0;
  z-index: 10;
}

.modal-container {
  position: absolute;
}

.modal {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 25px;
  left: 0;
  width: 300px;
  z-index: 11;
}

.vis-mode {
  cursor: pointer;
  padding: 0 5px;
  text-transform: uppercase;
}

.vis-mode.selected-vis-mode {
  font-weight: bold;
  text-decoration: underline;
}

/* MOBILE ADJUSTMENTS */


@media only screen and (max-width: 600px) {
  .root-links {
    flex-direction: column;
    align-items: center;
  }

  .text-row {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .root-content-container>div, .root-content-container {
    max-width: calc(100% - 40px)
  }

}

@media only screen and (max-width: 1000px) {


  .left-flower, .right-flower, #goethe-application>div>div.home-page>div.root-content-container.flex-down.center>div>p:nth-child(4)>img {
    display: none;
  }
}