
a {
  cursor: pointer;
}

html,
body,
#goethe-application {
  background: #D6D6CE;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#goethe-application {
  padding: 10px 90px;
  height: calc(100% - 20px);
  width: calc(100% - 180px);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin:0;
}

.flex {
  display: flex;
}
.flex-down {
  display: flex;
  flex-direction: column;
}
.full-height {
  height: auto;
}
.center {
  align-items: center;
  justify-content: center;
}

.waffle-book .rv-xy-plot__series--polygon {
  cursor: pointer;
}
.static-waffle {
  position: absolute;
}
.dynamic-waffle {
  pointer-events: none;
}

.rv-sunburst {
  font-size: 8px;
}


.small-font {
  font-size: 8px;
}

.medium-font {
  font-size: 12px;
}

.rv-xy-plot__axis__tick__line {
  display: none;
}

.rv-xy-plot__axis__tick__text {
  transform: translate(-1px);
}

.file {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  padding: 0 10px;
  margin-right: 20px;
}

.descriptions p {
  font-size: 10px;
}


.tooltip {
  background: black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 10px;
  max-width: 200px;
  padding: 5px;
  position: absolute;
  z-index: 2;
}

.legend {
  align-items: center;
}

.legend h3 {
  font-size: 18px;
}

.node-graph {
  z-index: 1;
  position: absolute;
}

.link-graph {
  z-index: 0;
  opacity: 1;
  transition: opacity 1s;
}

.link-graph.hide {
  opacity: 0;
}
